<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css')}}">
    <title>Contact Form</title>
</head>
<body>
    <h2>Contact Form</h2>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul>
        {% for message in messages %}
        <li class="flash">{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}
    <form 
        action="{{ url_for('miniblog.contact_complete')}}"
        method="POST"
        novalidate="novalidate"
    >
        <table>
            <!-- <tr>
                <td>id</td>
                <td>
                    <input 
                        type="text"
                        name="id"
                        value="{{ id }}"
                        placeholder="id"
                    >
                </td>
            </tr> -->
            <tr>
                <td>e-mail address</td>
                <td>
                    <input
                         type="text"
                         name="email"
                         placeholder="email"
                         >
                </td>
            </tr>
            <tr>
                <td> Your Message</td>
                <td>
                    <textarea  name="message" placeholder="your_message"></textarea>
            </tr>
        </table>
        <input type="submit" value="Send"/>
    </form>
</body>
</html>